#searchContainer {
  height: 100vh;
  background-image: url(/images/bg.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
}

#searchBar {
  background-color: rgb(7, 29, 9, .9);
  padding: 3rem;
 
  margin-top: 2vh;
}

#heading h1{
    color:white;
    text-align: center;
    font-family: 'Sen', sans-serif;
}

#heading h3{
    color:white;
    text-align: center;
    font-family: 'Sen', sans-serif;
}

#heading {
    background-color: rgb(7, 29, 9, .9);
  padding: 3rem;
  margin-top: 15vh;
}

#recessSpan{
  font-family: 'Sedgwick Ave Display';
}