#searchContainer {
  height: 100vh;
  background-image: url(/images/bg.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
}

#searchBar {
  margin-top: 10vh;
  background-color: rgb(7, 29, 9, .7);
  padding: 4rem;
}

h1{
    color:white;
    text-align: center;
    font-family: 'Sedgwick Ave Display';
}

h3{
    color:white;
    text-align: center;
    
}

#heading {
    background-color: rgb(7, 29, 9, .7);
  padding: 3rem;
}