#leagueTabs {
    margin-bottom: 4vh;
   
}

#leagueHeader{
background-image: url('/images/leaguebg.jpg');
  background-repeat: no-repeat;
  background-size: cover;

}

#leagueSubHeader{
    background-color: rgba(7, 29, 9, .6);
    padding: 1rem;
    color: white;
   
}
#league{
    font-family: 'Sen', sans-serif;;
}

#showAllButton{
    margin-right: 2vw;
    text-align: center;
}

#upcomingGames{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#upcomingGamesContainer{
    background-color: rgb(199, 247, 199);
}

.nav-pills .nav-link.active {
     background-color: darkgreen;
}
a {
    color:black
}

#editLeagueButton{
    margin-left: 2vw;
    background-color: rgb(88, 15, 15);
}

#editButtonToolbar{
    display: flex;
    justify-content: space-between;
    text-align: center;
}

#deleteButton{
    background-color: red;
}