#browseDropDowns{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.browseForms {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 2vw;
}
#browseDecks h5 {
    margin-right: 1vw;
    padding-top: 1vh;
    color:white;
}

h4 {
    margin-bottom: 1vh;
    color:white;
    font-size: 2rem;
    text-decoration: underline;
}




.carousel{
    padding: 7vh 0;
}

#featuredLeagues{
    background-color: rgb(7, 29, 9);
    padding: 3rem;
    margin-top:-2rem;
    font-family: 'Sen', sans-serif;
}

#featuredGames{
    background-color: rgb(15, 61, 19);
    padding: 3rem;
    font-family: 'Sen', sans-serif;
}